/*  Main branding color: #_74AFAD
    Remove the '_'  and do search and replace in the
    text below to change the color of the cloud.
 */

/* fonts */

div.jqcloud {
  font-family: "Myriad Pro", Calibri, "Gill Sans", "Trebuchet MS", "Liberation Sans Narrow", sans-serif;
  font-size: 10px;
  line-height: normal;
    margin-top: 30px;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
  font-weight: bold;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: #74AFAD; }
div.jqcloud a:hover { color: #797979; }
div.jqcloud span.w10 { color: #900000; }
div.jqcloud span.w9 { color: #900000; }
div.jqcloud span.w8 { color: #900000; }
div.jqcloud span.w7 { color: #900000; }
div.jqcloud span.w6 { color: #900000; }
div.jqcloud span.w5 { color: #900000; }
div.jqcloud span.w4 { color: #900000; }
div.jqcloud span.w3 { color: #900000; }
div.jqcloud span.w2 { color: #900000; }
div.jqcloud span.w1 { color: #900000; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }
