<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <!-- Concurrent query status checking page -->
    {% comment %}
    The following variables are defined:
        HOME_LOCATION - location of the root home page taking into account possible redirections
        DATASET_NAME - name_id of selected dataset
        QUERY_STRING - string representation of the query
        QUERY_TYPE - query type ('text' or 'image')
        ENGINE - engine selected for the search
    {% endcomment %}
    <head>
        <meta content="en-gb" http-equiv="Content-Language" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="refresh" content="5;url={{HOME_LOCATION}}searchproc_qstr?q={{QUERY_STRING}}&qtype={{QUERY_TYPE}}&dsetname={{DATASET_NAME}}&engine={{ENGINE}}" />
        <!-- main stylesheet for site -->
        <link href="static/styles/main.css" rel="stylesheet" type="text/css" />
        <!-- reuse login.css for h3 style -->
        <link href="static/styles/login.css" rel="stylesheet" type="text/css" />
        <title>Please wait</title>
    </head>
    <body>
      <div id="container">
        <div id="search_header">
          <a href="{{HOME_LOCATION}}"> <img src="static/images/logo.png" alt="Go to the home page" /> </a>
        </div>
        <br/>
        <h3><strong>THIS SEARCH IS BEING EXECUTED BY ANOTHER USER. PLEASE WAIT.</strong></h3>
        <br/>
        <h3>Your search will be automatically retried in </h3><div id="timer_div" style="text-align:center; margin:0 auto;">5</div>
        <h3>seconds</h3>
     </div>
     <script type="text/javascript" src="static/scripts/lib/jquery-1.11.3.min.js"></script>
     <script>
        var seconds_left = 5;
        var interval = setInterval(function() {
            document.getElementById('timer_div').innerHTML = --seconds_left;
            if (seconds_left <= 0)
            {
               clearInterval(interval);
            }
        }, 1000);
     </script>
    </body>
</html>
